<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.green.seenema.user.store.mapper.OrderMapper">
	<insert id="buy">
		INSERT INTO order_tbl (orderNum, productCode, price, count, id) 
		VALUES (#{order.orderNum}, #{order.productCode}, #{order.price}, #{order.count}, #{order.id});
	</insert>
	
	<select id="getOrderList" resultType="OrderVO">
		SELECT 
			DATE_FORMAT(ot.orderDate, "%Y-%m-%d") as orderDate, ot.orderNum, pt.productCode, pt.productName, pt.productInfo, pt.price, 
			ot.count, (ot.price * ot.count) AS totalPrice, ot.status
		FROM seenema.product_tbl pt RIGHT JOIN seenema.order_tbl ot 
		ON pt.productCode  = ot.productCode WHERE id = #{id} ORDER BY orderdate DESC LIMIT 0, 10;
	</select>
	<select id="getSearchOrderList" resultType="OrderVO">
		SELECT 
			DATE_FORMAT(ot.orderDate, "%Y-%m-%d") as orderDate, ot.orderNum, pt.productCode, pt.productName, pt.productInfo, pt.price, 
			ot.count, (ot.price * ot.count) AS totalPrice, ot.status
		FROM seenema.product_tbl pt RIGHT JOIN seenema.order_tbl ot 
		ON pt.productCode  = ot.productCode 
		WHERE id = #{id} AND searchDate BETWEEN #{startDate} AND #{endDate} AND ot.status = #{status} 
		ORDER BY orderdate DESC LIMIT 0, 10;
	</select>
	
	<select id="getOrderDetail" resultType="OrderVO">
		SELECT 
			ot.searchDate, ot.orderNum, pt.productName, pt.productInfo, pt.price, ot.count, (ot.count * ot.price) as totalPrice, ot.id, ot.status, pt.productImage 
		FROM seenema.product_tbl pt RIGHT JOIN seenema.order_tbl ot 
		on pt.productCode = ot.productCode WHERE orderNum = #{orderNum};
	</select>
	
	<update id="refund">
		UPDATE order_tbl SET status = 0 WHERE orderNum = #{orderNum};
	</update>
</mapper>