<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.green.seenema.mapper.ReservationMapper">
    <select id="searchReservationList" resultType="org.green.seenema.vo.ReservationVO">
        SELECT * FROM reservation_tbl WHERE id = #{id} ORDER BY reservationDate DESC LIMIT 0, 10;
    </select>

    <insert id="regReservation">
        INSERT INTO reservation_tbl (id, ticketCode, movieCode, movieTitle, theaterPlace, theater, ticketPrice,  reservationDate, movieDate, reservationTime, seats, visitors) VALUES (#{id}, #{ticketCode}, #{movieCode}, #{movieTitle}, #{theaterPlace}, #{theater}, #{ticketPrice}, NOW(), #{movieDate}, #{reservationTime}, #{seats}, #{visitors})
    </insert>
    <select id="loadSeats" resultType="org.green.seenema.vo.ReservationVO">

    </select>

    <update id="cntPlus">
        UPDATE movie_tbl SET cnt = cnt + 1 WHERE movieCode = #{movieCode}
    </update>

    <select id="loadTheater" resultType="org.green.seenema.vo.TheaterVO">

    </select>

    <select id="getReservationList" resultType="org.green.seenema.vo.ReservationVO">
        SELECT
        DATE_FORMAT(reservationDate, "%Y-%m-%d") as reservationDate, ot.orderNum, pt.productCode, pt.productName, pt.productInfo, pt.price,
        ot.count, (ot.price * ot.count) AS totalPrice, ot.status
        FROM seenema.reservation_tbl
        WHERE id = #{id} ORDER BY reservationDate DESC LIMIT 0, 10;
    </select>

    <select id="getSearchReservationList" resultType="org.green.seenema.vo.ReservationVO">
        SELECT
        DATE_FORMAT(reservationDate, "%Y-%m-%d") as reservationDate, ot.orderNum, pt.productCode, pt.productName, pt.productInfo, pt.price,
        ot.count, (ot.price * ot.count) AS totalPrice, ot.status
        FROM seenema.reservation_tbl
        WHERE id = #{id} AND searchDate BETWEEN #{startDate} AND #{endDate} AND ot.status = #{status}
        ORDER BY reservationDate DESC LIMIT 0, 10;
    </select>

    <select id="searchReservation" resultType="org.green.seenema.vo.ReservationVO">
        SELECT * FROM reservation_tbl WHERE ticketCode = #{ticketCode}
    </select>


</mapper>
